.grid, .grid-3, .grid-5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 14px;
  -moz-column-gap: 14px;
       column-gap: 14px;
  text-align: center;
}

.texto-inicio {
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
}

.main-foto {
  text-align: center;
  background-image: url(../assets/iphone15.jpg);
  min-height: 500px;
  background-position: center center;
  background-size: 1000px auto;
  background-repeat: no-repeat;
  background-color: black;
  padding-top: 30px;
}
.main-foto .t1-main,
.main-foto .t2-main {
  color: gray;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-white {
  text-align: center;
  background-image: url(../assets/iphone15rosa.jpg);
  min-height: 540px;
  background-position: center center;
  background-size: 1500px auto;
  background-repeat: no-repeat;
  background-color: white;
  padding-top: 40px;
}
.main-white .main-w {
  font-size: medium;
}

.grid div, .grid-3 div, .grid-5 div {
  height: 500px;
  background-position: center center;
  background-size: cover;
  padding: 50px;
}

.t1 {
  font-size: 2rem;
  color: white;
}

.t2 {
  font-size: 1rem;
  color: white;
  margin-bottom: 30px;
}

.black {
  color: black;
}

@media (min-width: 320px) and (max-width: 599px) {
  .main-foto {
    background-size: cover;
    background-size: 391px auto;
    min-height: 351px;
  }
  .main-white {
    display: none !important;
  }
  .grid, .grid-3, .grid-5 {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
  .t1-main,
  .t2-main {
    display: none !important;
  }
}
@media (min-width: 600px) and (max-width: 991px) {
  .main-foto {
    background-size: cover;
    background-size: 391px auto;
    min-height: 351px;
  }
  a .t1 black {
    font-size: 1.5rem;
    color: white;
    margin: -30px;
  }
  .main-foto {
    background-size: 600px auto;
  }
  .grid, .grid-3, .grid-5 {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr !important;
    margin-bottom: 20px;
  }
}
.bodyt {
  background-color: black;
}

.main-foto-2 {
  text-align: center;
  background-image: url(../assets/accesorios2.png);
  min-height: 500px;
  background-size: 1500px auto;
  background-repeat: no-repeat;
  padding-top: 230px;
}
.main-foto-2 .t-main,
.main-foto-2 .t-mains,
.main-foto-2 .t-a {
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 800px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 14px;
  -moz-column-gap: 14px;
       column-gap: 14px;
  margin: 40px 50px 63px 70px;
  text-align: center;
}
.grid-2 div {
  height: 400px;
  background-position: center center;
  background-size: cover;
  padding: 50px;
}

.h2-tienda {
  color: white;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 14px;
  -moz-column-gap: 14px;
       column-gap: 14px;
  margin: 40px 75px 63px 75px;
  text-align: center;
  grid-template-areas: "img1 img1 img2 img2" "img3 img3 img4 img4" "img5 img5 img5 img5";
}
.grid-4 div {
  height: 470px;
  background-position: center center;
  background-size: cover;
  padding: 15px;
}

@media (min-width: 320px) and (max-width: 500px) {
  .main-foto-2 {
    background-size: 550px auto;
  }
  .grid-4 {
    margin: 25px 25px 63px 25px;
  }
  .grid-4 > div {
    height: 361px;
    background-position: center center;
    background-size: cover;
    padding: 15px;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-foto-2 {
    text-align: center;
    background-image: url(../assets/accesorios2.png);
    min-height: 340px;
    background-size: 960px auto;
    padding-top: 280px;
  }
  .t-main,
  .t-mains,
  .t-a {
    display: none !important;
  }
  .grid-2 {
    display: none !important;
  }
  .grid-4 {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    grid-template-areas: "img1" "img2" "img3" "img4";
  }
  .section-5 {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1255px) {
  .t-main,
  .t-mains,
  .t-a {
    display: none !important;
  }
  nav ul li a {
    display: none !important;
  }
}
@media (min-width: 501px) and (max-width: 930px) {
  .main-foto-2 {
    text-align: center;
    min-height: 150px;
    background-size: 991px auto;
    padding-top: 315px;
    background-position: left;
  }
  .grid-4 {
    margin: 25px 25px 63px 25px;
  }
}
@media (min-width: 320px) and (max-width: 620px) {
  .main-foto-2 {
    display: none !important;
  }
}
.main-white-3 {
  text-align: center;
  background-image: url(../assets/reloj.jpg);
  min-height: 530px;
  background-position: bottom;
  background-size: 1110px;
  background-repeat: no-repeat;
  background-color: white;
}
.main-white-3 .t-main-1 {
  color: black;
  margin-left: 800px;
  padding-top: 75px;
  font-size: xx-large;
}
.main-white-3 .t-mains-2,
.main-white-3 .t-a3 {
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 800px;
}

.grid-5 {
  padding: 20px;
}
.grid-5 div {
  height: 500px;
  background-position: center center;
  background-size: cover;
  padding: 50px;
}

.video-nosotros {
  border-radius: 25px;
  width: 90%;
  margin: 40px 50px 63px 70px;
  top: 40%;
}

@media (min-width: 320px) and (max-width: 991px) {
  .grid-5 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .t-main-1,
  .t-mains-2,
  .t-a3 {
    display: none !important;
  }
  .video-nosotros {
    margin: 0;
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1156px) {
  .t-main-1,
  .t-mains-2,
  .t-a3 {
    display: none !important;
  }
}
.main-white-2 {
  text-align: center;
  background-image: url(../assets/iphone10.jpg);
  min-height: 500px;
  background-position: center center;
  background-size: 1500px auto;
  background-repeat: no-repeat;
  background-color: white;
  margin-bottom: 100px;
}
.main-white-2 .main-white-s,
.main-white-2 .main-white-c {
  padding-left: 1100px;
}
.main-white-2 .main-white-s {
  padding-top: 350px;
}

.carrito {
  max-width: 1000px;
  margin: 0 auto;
}
.carrito .project {
  display: flex;
}
.carrito .shop {
  flex: 75%;
}
.carrito .caja {
  display: flex;
  width: 100%;
  height: 180px;
  overflow: hidden;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.937254902);
  transition: all 0.6s ease;
}
.carrito .caja img {
  width: 300px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
.carrito .caja :hover {
  border: none;
  transform: scale(1.01);
}
.carrito .caja .contenido {
  padding: 20px;
  width: 150%;
  position: relative;
}
.carrito .caja .btn-area {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 25px;
  background-color: #3a71a9;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
}
.carrito .caja .btn-area:hover {
  background-color: #76bfb6;
  font-weight: 600;
}
.carrito .caja .btn-area i {
  margin-right: 5px;
}

.barra {
  flex: 25%;
  margin-left: 20px;
  padding: 20px;
  height: 400px;
  border-radius: 5px;
  background: #ffffff;
}
.barra hr {
  margin-bottom: 25px;
}
.barra p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 20px;
}
.barra a {
  background-color: #76bfb6;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-weight: 900;
}
.barra :hover {
  background-color: #3972a7;
}

.contenido h3 {
  margin-bottom: 20px;
  font-size: x-large;
}

.contenido h4 {
  margin-bottom: 50px;
  font-size: larger;
}

.main-foto-3 {
  margin-top: 20px;
  text-align: center;
  background-image: url(../assets/iphoneimg.jpg);
  min-height: 410px;
  background-size: 1450px auto;
  background-repeat: repeat;
}
.main-foto-3 .t-mainc {
  color: black;
  font-size: x-large;
  padding-top: 285px;
  padding-right: 190px;
}

@media (min-width: 320px) and (max-width: 991px) {
  .main-white-2 {
    text-align: center;
    background-image: url(../assets/iphone10.jpg);
    min-height: 500px;
    background-position: center center;
    background-size: 900px auto;
    background-repeat: no-repeat;
    background-color: white;
    margin-bottom: 100px;
  }
  .main-white-s,
  .main-white-c {
    display: none !important;
  }
  .project {
    display: grid;
  }
  .caja {
    width: 95%;
    height: 160px;
    margin-bottom: 17px;
  }
  .btn-area {
    bottom: 15px;
    right: 20px;
    padding: 5px 20px;
  }
  .barra {
    display: none !important;
  }
  .contenido h3 {
    margin-bottom: 10px;
    font-size: large;
  }
  .contenido h4 {
    margin-bottom: 50px;
    font-size: medium;
  }
  .main-foto-3 {
    margin-top: 20px;
    text-align: center;
    background-image: url(../assets/iphoneimg.jpg);
    min-height: 340px;
    background-size: 900px auto;
    background-repeat: repeat;
  }
  .t-main-c {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1290px) {
  .main-white-s,
  .main-white-c {
    display: none !important;
  }
}
@media (min-width: 320px) and (max-width: 465px) {
  .shop {
    width: 250px;
  }
}
.main-foto-4 {
  text-align: center;
  background-image: url(../assets/ipadsl.jpg);
  min-height: 500px;
  background-position: inherit;
  background-size: 1500px auto;
  background-repeat: no-repeat;
  background-color: black;
  padding-top: 200px;
}

.grid-3 {
  position: relative;
  margin: 30px 20px 20px 20px;
}
.grid-3 div {
  height: 420px;
  background-size: cover;
}

.contacto-h {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 43px;
  margin-bottom: 30px;
}

.contacto-2 {
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
}

.main-foto-5 {
  text-align: center;
  background-image: url(../assets/accesorios5.jpg);
  min-height: 400px;
  background-size: 1500px auto;
  background-repeat: no-repeat;
  margin-top: 90px;
}
.main-foto-5 .t-md {
  padding-top: 20px;
  font-size: xx-large;
}

@media (min-width: 320px) and (max-width: 991px) {
  .grid-3 {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .grid-3 > div {
    height: 269px;
  }
}
@media (min-width: 481px) and (max-width: 640px) {
  .grid-3 > div {
    height: 360px;
  }
}
@font-face {
  font-family: "SF Pro Text";
  src: url(../fonts/FontsFree-Net-SFProText-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Text";
  list-style: none;
}

a {
  text-decoration: none;
  color: #1e89ff;
}

nav ul li {
  list-style: none;
  margin: 0;
  display: inline-block;
}

nav ul a {
  color: gray;
  text-decoration: none;
  margin: -7px 90px -2px 75px;
  font-size: 0.8rem;
}

.icon {
  width: 26px;
  height: 18px;
  background-size: 135% 161%;
  display: inline-block;
  background-position: 1px;
  background-repeat: no-repeat;
}

.manzanita {
  background-image: url(../assets/apple.png);
}

.t1 {
  font-size: 2rem;
  color: white;
}

.t2 {
  font-size: 1rem;
  color: white;
  margin-bottom: 30px;
}

.black {
  color: black;
}

.section-1 {
  grid-area: img1;
  background-image: url(../assets/home-kit.jpeg);
}

.section-2 {
  grid-area: img2;
  background-image: url(../assets/watch-card.jpeg);
}

.section-3 {
  grid-area: img3;
  background-image: url(../assets/apps.jpeg);
}

.section-4 {
  grid-area: img4;
  background-image: url(../assets/store-card.jpeg);
}

.section-5 {
  grid-area: img5;
  background-image: url(../assets/bolsa.jpeg);
}

.t-blackM {
  color: black;
  margin-top: 160px;
  margin-bottom: 5px;
  margin-right: 600px;
}

.t-blackN {
  color: black;
  margin-bottom: 5px;
  margin-right: 600px;
}

.t-N {
  color: #1e89ff;
  margin-bottom: 5px;
  margin-right: 600px;
}

.img1 {
  background-image: url(../assets/MacBookAir.jpg);
}

.img2 {
  background-image: url(../assets/AirPods.jpg);
}

.img3 {
  background-image: url(../assets/MacBookPro.jpg);
}

.img4 {
  background-image: url(../assets/Ipad.jpg);
}

.img5 {
  background-image: url(../assets/fotosapple.jpg);
  border-radius: 20px;
}

.img6 {
  background-image: url(../assets/personalize.jpg);
  border-radius: 20px;
}

.img7 {
  background-image: url(../assets/watch1.jpg);
  border-radius: 20px;
}

.img8 {
  background-image: url(../assets/watch2.jpg);
  border-radius: 20px;
}

.img9 {
  background-image: url(../assets/airpods2.jpg);
}

.img10 {
  background-image: url(../assets/ipadacc.jpeg);
}

.img11 {
  background-image: url(../assets/dispositivos.jpeg);
}

.img12 {
  background-image: url(../assets/accesoriosiphone.jpeg);
}

.footer {
  background-color: rgba(0, 0, 0, 0.894);
  padding: 80px 0;
  color: gray;
}
.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
}
.footer .footer-links {
  width: 25%;
  padding: -10 15px;
}
.footer .footer-links h4 {
  font-size: 20px;
  color: gray;
  margin-bottom: 25px;
  padding-bottom: 10px;
  display: inline-block;
}
.footer .footer-links ul li {
  font-size: 14px;
  margin-bottom: 15px;
  display: block;
}/*# sourceMappingURL=estilos.css.map */