//paleta de colores

$color1: rgb(255, 255, 255);
$color2: white;
$color3: black;
$color4: gray;

//dimensiones

$medida: 50%;

//extend

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 14px;
  column-gap: 14px;
  text-align: center;
}

//mixin

@mixin sizes {
  margin-left: 50px;
  margin-right: 50px;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url(../fonts/FontsFree-Net-SFProText-Regular.ttf);
}


@import "index";
@import "tienda";
@import "nosotros";
@import "carrito";
@import "contacto";
@import "generales";